In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("AAPL.csv", parse_dates=True, index_col='Date').dropna(how='any')
# Create a new categorical column 'cat' with values [1,2,3,4,5] based on the difference between the current and previous close price
df['Scenario'] = pd.cut(df['Close'].diff(), bins=3, labels=[1,2,3])
# remove firt row
df = df.iloc[1:]
# Save the dataframe to a csv file
df.to_csv('AAPL_cat.csv')
# count number of each category in Scenario
df['Scenario'].value_counts()

2    1425
1     103
3      40
Name: Scenario, dtype: int64

In [5]:
df = pd.read_csv("../../dataset/ParisHousing.csv").dropna(how='any')
df.head(5)

,squareMeters,numberOfRooms,floors,cityCode,cityPartRange,numPrevOwners,made,basement,attic,garage,hasGuestRoom,price
0,75523,3,63,9373,3,8,2005,4313,9005,956,7,7559081.5
1,80771,39,98,39381,8,6,2015,3653,2436,128,2,8085989.5
2,55712,58,19,34457,6,8,2021,2937,8852,135,9,5574642.1
3,32316,47,6,27939,10,4,2012,659,7141,359,3,3232561.2
4,70429,19,90,38045,3,7,1990,8435,2429,292,4,7055052.0

In [6]:
df['cityPartRange'].value_counts()

8     1035
5     1031
10    1004
4     1001
3      999
9      997
1      994
2      990
7      984
6      965
Name: cityPartRange, dtype: int64